@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work{
    font-family: "Work Sans", sans-serif;
}

.displayed{
    font-family: "Playfair Display", serif;
}

.blacked{
    color: #131313;
}
.greened{
    color:#23BE0A;
}
